:: Environment setup for ES configuration
:: Set file to owner access only and hide server access

:: setup server database configuration
set DB_NAME=''
set DB_USER=''
set DB_PASSWORD=''

:: postgres setup
set DB_HOST='localhost'
set DB_PORT='5432'

set SECRET_KEY=''
set AWS_STORAGE_BUCKET_NAME=''
set AWS_ACCESS_KEY_ID=''
set AWS_SECRET_ACCESS_KEY=''
set AWS_REGION_NAME=''

