{% comment %}
snippets are all top-level from admin view
    Specifies Snippet model:

        Parent: Columns (ideally 4, due to col-3 setup)
            Child_0: Title
                Child_1: Entry
{% endcomment %}
{% load common %}
{% load wagtailcore_tags %}

<div class="dropdown">
    <div class="dropdown-body">
        <div class="row">
        {% set group_iterator = 0 %}
        {% set col_tags = True %}
            <div class="col-md-3">
        {% for category in recipe_categories %}
            {% if category.parent == None %}
                <a href="{% slugurl 'recipes' %}?category={{ category }}">{# {{ category.group_index }}({{ group_iterator }}).  #}{{ category|title }}</a>
            {% endif %}
        {% endfor %}
        {% comment %}
        {% for column in recipe_categories %}
            {% if column.parent == None %}
            <div class="col-md-3">
                {% for child_0 in column.children.all|dictsort:"name" %}
                    <h4 class="dropdown-heading">{{ child_0|title }}</h4>
                    {% if child_0.children %}
                    <ul class="dropdown-list">
                    {% endif %}
                        {% for child_1 in child_0.children.all|dictsort:"name" %}
                            <li><a href="{{ item.href }}">{{ child_1 }}</a></li>
                        {% endfor %}
                    {% if child_0.children %}
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        {% endcomment %}
        </div>
    </div>
</div>