{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}
{% load menu_tags %}

{% block content %}
{% for block in self.body %}
    {% if block.block_type == 'parallax' %}
    {% include_block block %}
    {% else %}
    <div class="container">
        {% include_block block %}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% comment %}
{% block content %}
<div class="section">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
            {% for block in self.body%}
                {{ block }}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endcomment %}