{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}
{% load menu_tags %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="{% static 'parallax/parallax.css' %}">
{% endblock %}

{% block content %}
{% for block in page.parallax %}
    {% if block.block_type == 'parallax' %}
    {% include_block block %}
    {% else %}
    <div class="container">
        {% include_block block %}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'parallax/parallax.js' %}"></script>
{% endblock %}