{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% comment %} {% block body_class %}template-blogpage{% endblock %} {% endcomment %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>

                {% for categorypage in categories %}
                    {% with category=categorypage.category %}
                    <li style="display: inline">
                        {% comment %}Category: "{{ category.parent }}"{% endcomment %}
                        {% if category.parent != None %}
                            {% image category.menu_image fill-32x32 style="vertical-align: middle" %}
                            {{ category }}
                        {% endif %}
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="intro">{{ page.intro }}</div>

    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- check if None -->
    Prep Time: {{ page.prep_time }}<br/>
    Cook Time: {{ page.cook_time }}<br/>
    Cook Time: {{ page.servings }}<br/>
    Cook Time: {{ page.calories }}<br/>
    Cook Time: {{ page.date }}<br/>

    {% for block in self.body%}
        {{ block }}
    {% endfor %}

    <div style="float: left; margin: 10px">
        {% image page.header_image fill-320x240 %}
        <p>{{ item.caption }}</p>
    </div>
    {% comment %}
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    {% endcomment %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    {# DEBUG Template #}
    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>

{% endblock %}