{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{# debug #}
{% load debug_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <h1>{{ page.title }}</h1>
        {% for category in page.categories %}

        <div class="section">
            <div class="page-header">
                {% image category.menu_image fill-1920x480 as img %}
                <a href="{% slugurl 'blog' %}?category={{ category }}">
                    <div class="page-header-bg" style="background-image: url('{{ img.url }}');" data-stellar-background-ratio="0.5"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 text-center">
                                <h1 class="text-uppercase">{{ category }}</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% for blogpage in category.blogpage_set.all %}
                        <a href="{% pageurl blogpage %}">{{ blogpage.title }}</a><br/>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                    test
                    </div>
                </div>
            </div>
        </div>

        {% comment %}
        {# debug #}
        {{ category|get_obj_attr1 }}
        {{ category.blogpage_set.all }}
        {% endcomment %}

        {% for blogpage in category.blogpage_set.all %}
            <a href="{% pageurl blogpage %}">{{ blogpage.title }}</a><br/>
        {% endfor %}

        {% for subcategory in category.children.all %}
            SUB::{{ subcategory }}<br/>
        {% endfor %}

        <hr/>
        {% comment %}
        {% for blogpage in category %}
        {% endfor %}
        {% endcomment %}
        {% empty %}
            EMPTY
        {% endfor %}
    </div>
</div>
{% endblock %}
