{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags static %}

<div>
    {% image value.poster_image original as poster %}
    {% if value.focus %}
    <div id="top" class="parallax-container" style="height:200px">
    {% else %}
    <div class="parallax-container" style="height:200px">
    {% endif %}
        <div class="parallax">
            <video class="visible-desktop" id="video" poster="{{ poster.url }}" autoplay loop muted>
                <source type="video/mp4" src="{{ value.video.url }}"/>
            </video>
            {% comment %}
            <div id="state" class="visible-desktop">
                <span class="fa fa-pause"/>
            </div>
            {% endcomment %}
            {% image value.poster_image original class="hidden-desktop" id="state" %}
        </div>
    </div>
</div>
