{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static hitcount_tags social_share %}

{% block header %}
    <div id="post-header" class="page-header">
        {% image page.header_image fill-1920x720 as photo %}
        <div id="post-header" class="page-header-bg" style="background-image: url('{{ photo.url }}');" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        {% with categories=page.categories.all %}
                            {% for categorypage in categories %}
                                {% with category=categorypage.category %}
                        <a href="{{ page.get_parent.url  }}?category={{ category }}">{{ category }}</a>
                            {% endwith %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    <ul class="post-meta">
                        <li><a href="author.html">{{ page.author }}</a></li>
                        <li>{{ page.date }}</li>
                        <li><i class="fa fa-comments"></i> 3</li>
                        {% get_hit_count for page as hitcount %}
                        <li><i class="fa fa-eye"></i> {{ hitcount }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
                            {# TODO: Add Pinterest Share #}
                            {% post_to_facebook page "Share" %}
                            {% post_to_linkedin page.title page "Share" %}
                            {% post_to_gplus page "Share" %}
                            {% post_to_reddit page.title page "Share" %}
                            {% post_to_twitter page.title page "Tweet" %}
                            {% send_email page.title "Check out this page: {{ page.title }}" page "Email" %}
                            {% comment %}
							<a href="#" class="social-facebook"><i class="fab fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fab fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i class="fab fa-pinterest"></i><span>Pin</span></a>
							<a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
							{% endcomment %}
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
                        {% for block in self.body%}
                            {{ block }}
                        {% endfor %}
					</div>
					<!-- /post content -->

                    {% if page.tags.all|length %}
					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
                            {% for tag in page.tags.all %}
                                <li><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
							</ul>
						</div>
					</div>
					<!-- /post tags -->
                    {% endif %}

                    <!-- return to notes -->
                    <p><a href="{{ page.get_parent.url }}">Return to {{ page.get_parent.title | lower }}</a></p>

				</div>
			</div>
			<!-- /row -->
		</div>
    </div>

{% endblock %}
