{% extends 'base.html' %}
{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

{% comment %}
{% block header %}
    {% if category %}
    {% with category=category.0 %}
    <div class="page-header">
        {% image category.menu_image fill-1920x480 as img %}
        <div class="page-header-bg" style="background-image: url('{{ img.url }}');" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h1 class="text-uppercase">{{ category }}</h1>
                </div>
            </div>
		</div>
    </div>
    {% endwith %}
    {% endif %}
{% endblock %}
{% endcomment %}

{% block content %}
    <div class="section">
        <div class="container">
        {% for subject_index in page.subject_indices.all %}
            <a href="{{ subject_index.url }}">{{ subject_index }}</a><br/>
        {% endfor %}
        </div>
    </div>
{% endblock %}
