{% load static wagtailuserbar wagtailcore_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'logo/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'logo/safari-pinned-tab.svg' %}" color="#1b998b">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <meta charset="utf-8" />
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block extra_meta %}
            {# Override this in templates to add extra meta tags #}
        {% endblock %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with site_name=self.get_site.site_name %}
                    {# {% if site_name %}- {{ site_name }}{% endif %} #}
                {% endwith %}
            {% endblock %}
        </title>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {# Global stylesheets #}
        {# Google Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet" />
        {# Bootstrap #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        {# Font Awesome Icon #}
        <link rel="stylesheet" href="{% static 'css/all.css' %}" />
        {# Callie Custom Style #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/callie-style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/katex.min.css' %}" />
        {# markdown css #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/simplemde.min.css' %}" /> {# TODO: check if really needed #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/prism-coy.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/superfences.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/ElysiumServer.css' %}" />
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% if user.is_authenticated %}
        {% wagtailuserbar %}
        {% endif %}
        {# Header #}
        <header id="header">
            {# NAV #}
            <div id="nav">
                {# Top Nav #}
                <div id="nav-top">
                    <div class="container">
                        {% if settings.home.SocialMediaSettings.facebook or settings.home.SocialMediaSettings.twitter or settings.home.SocialMediaSettings.google_plus or settings.home.SocialMediaSettings.instagram or settings.home.SocialMediaSettings.linkedin or settings.home.SocialMediaSettings.pinterest %}
                        {# Social #}
                        <ul class="nav-social">
                            {% if settings.home.SocialMediaSettings.facebook %}
                            <li><a href="https://www.facebook.com/{{ settings.home.SocialMediaSettings.facebook }}"><i class="fab fa-facebook"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.twitter %}
                            <li><a href="https://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.instagram %}
                            <li><a href="https://www.instagram.com/{{ settings.home.SocialMediaSettings.instagram }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.pinterest %}
                            <li><a href="https://www.pinterest.com/{{ settings.home.SocialMediaSettings.pinterest }}"><i class="fab fa-pinterest"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.google_plus %}
                            <li><a href="https://plus.google.com/+{{ settings.home.SocialMediaSettings.google_plus }}"><i class="fab fa-google-plus"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.linkedin%}
                            <li><a href="https://linkedin.com/in/{{ settings.home.SocialMediaSettings.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                        {# /Social #}
                        {% endif %}

                        {# Logo #}
                        <div class="nav-logo">
                            <a href="/" class="logo"><img src="{% static 'logo/full_logo.png' %}" alt=""></a>
                        </div>
                        {# /Logo #}

                        {# Search & Aside Toggle #}
                        <div class="nav-btns">
                            <button class="aside-btn"><i class="fa fa-bars"></i></button>
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                            <div id="nav-search">
                                <form action="{% url 'search' %}" method="get">
                                    <input class="input" type="text" name="query" placeholder="Enter your search...">
                                </form>
                                <button class="nav-close search-close">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        {# /Search & Aside Toggle #}
                    </div>
                </div>
                {# /Top Nav #}

                <div id="nav-bottom">
                    <div class="container">
                        {# {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1.html" sub_menu_template="menus/callie_main/level_2.html" %} #}
                        {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1.html" %}
                    </div>
                </div>

                <!-- Aside Nav -->
                <div id="nav-aside">
                    {% main_menu max_levels=2 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1_aside_menu.html" %}
                    <button class="nav-close nav-aside-close"><span></span></button>
                </div>
                <!-- /Aside Nav -->
            </div>
            <!-- /NAV -->
            {% block header %}{% endblock %}
        </header>
        <!-- /HEADER -->

        {% block content %}{% endblock %}

        <footer id="footer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/" class="logo"><img src="{% static 'logo/text_w.png' %}" alt="" style="height:35px"></a>
                            </div>
                            {{ settings.home.DescriptionSettings.footer_description }}
                            {% if settings.home.SocialMediaSettings.facebook or settings.home.SocialMediaSettings.twitter or settings.home.SocialMediaSettings.google_plus or settings.home.SocialMediaSettings.instagram or settings.home.SocialMediaSettings.linkedin or settings.home.SocialMediaSettings.pinterest %}
                            <ul class="contact-social">
                                {% if settings.home.SocialMediaSettings.facebook %}
                                <li><a href="https://www.facebook.com/{{ settings.home.SocialMediaSettings.facebook }}" class="social-facebook"><i class="fab fa-facebook"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.twitter %}
                                <li><a href="https://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}" class="social-twitter"><i class="fab fa-twitter"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.instagram %}
                                <li><a href="https://www.instagram.com/{{ settings.home.SocialMediaSettings.instagram }}" class="social-instagram"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.pinterest %}
                                <li><a href="https://www.pinterest.com/{{ settings.home.SocialMediaSettings.pinterest }}" class="social-pinterest"><i class="fab fa-pinterest"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.google_plus %}
                                <li><a href="https://plus.google.com/+{{ settings.home.SocialMediaSettings.google_plus }}" class="social-google-plus"><i class="fab fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.linkedin %}
                                <li><a href="https://linkedin.com/in/{{ settings.home.SocialMediaSettings.linkedin }}" class="social-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Menu</h3>
                            <div class="category-widget">
                                {% main_menu max_levels=1 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/main_menu.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Newsletter</h3>
                            <div class="newsletter-widget">
                                <form>
                                    <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <input class="input" name="newsletter" placeholder="Enter Your Email">
                                    <button class="primary-button">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="footer-bottom row">
                    <div class="col-md-6 col-md-pull-6">
                        <div class="footer-copyright"><img src="{% static 'logo/icon_w.png' %}" style="height:30px" />
                             &nbsp;Copyright ©{% now "Y" %} All rights reserved</div>
                    </div>
                    <div class="col-md-6 col-md-push-6">
                        {% flat_menu 'footer' max_levels=1 show_menu_heading=False  use_specific=USE_SPECIFIC_TOP_LEVEL  fall_back_to_default_site_menus=True template="menus/callie_main/footer.html" %}
                    </div>
                </div>
                <!-- /row -->
            </div>
		<!-- /container -->
	    </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ElysiumServer.js' %}"></script>
        {# prob add method to dynamically add these as needed #}
        {# tailored scripts #}
        <script type="text/javascript" src="{% static 'js/katex_frontend_renderer.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/katex_markdown.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/superfences_UML.js' %}"></script>

        {# public scripts #}
        <script type="text/javascript" src="{% static 'js/katex.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/prism-coy.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/raphael.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sequence-diagram-min.js' %}"></script> {# warning can't find map when using min version #}
        <script type="text/javascript" src="{% static 'js/flowchart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/snap.svg-min.js' %}"></script>

        <!-- jQuery Plugins -->
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>


    {% if debug %}
    {# DEBUG Template #}
    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
    {% endif %}


</html>