{% load static wagtailuserbar wagtailcore_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block extra_meta %}
            {# Override this in templates to add extra meta tags #}
        {% endblock %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with site_name=self.get_site.site_name %}
                    {# {% if site_name %}- {{ site_name }}{% endif %} #}
                {% endwith %}
            {% endblock %}
        </title>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ElysiumServer.css' %}">
        {# Google Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">
        {# Bootstrap #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        {# Font Awesome Icon #}
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        {# Callie Custom Style #}
        <link type="text/css" rel="stylesheet" href="{% static 'css/callie-style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/katex.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {# Header #}
        <header id="header">
            {# NAV #}
            <div id="nav">
                {# Top Nav #}
                <div id="nav-top">
                    <div class="container">
                        {% if settings.home.SocialMediaSettings.facebook or settings.home.SocialMediaSettings.twitter or settings.home.SocialMediaSettings.google_plus or settings.home.SocialMediaSettings.instagram %}
                        {# Social #}
                        <ul class="nav-social">
                            {% if settings.home.SocialMediaSettings.facebook %}
                            <li><a href="{{ settings.home.SocialMediaSettings.facebook }}"><i class="fab fa-facebook"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.twitter %}
                            <li><a href="https://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.google_plus %}
                            <li><a href="https://plus.google.com/+{{ settings.home.SocialMediaSettings.google_plus }}"><i class="fab fa-google-plus"></i></a></li>
                            {% endif %}
                            {% if settings.home.SocialMediaSettings.instagram %}
                            <li><a href="https://www.instagram.com/{{ settings.home.SocialMediaSettings.instagram }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                        {# /Social #}
                        {% endif %}

                        {# Logo #}
                        <div class="nav-logo">
                            <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                        {# /Logo #}

                        {# Search & Aside Toggle #}
                        <div class="nav-btns">
                            <button class="aside-btn"><i class="fa fa-bars"></i></button>
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                            <div id="nav-search">
                                <form action="{% url 'search' %}" method="get">
                                    <input class="input" type="text" name="query" placeholder="Enter your search...">
                                </form>
                                <button class="nav-close search-close">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        {# /Search & Aside Toggle #}
                    </div>
                </div>
                {# /Top Nav #}

                <div id="nav-bottom">
                    <div class="container">
                        {# {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1.html" sub_menu_template="menus/callie_main/level_2.html" %} #}
                        {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1.html" %}
                    </div>
                </div>
                {% comment %}
                <!-- Main Nav -->
                <div id="nav-bottom">
                    <div class="container">
                        <!-- nav -->
                        <ul class="nav-menu">
                            <li class="has-dropdown">
                                <a href="index.html">Home</a>
                                <div class="dropdown">
                                    <div class="dropdown-body">
                                        <ul class="dropdown-list">
                                            <li><a href="category.html">Category page</a></li>
                                            <li><a href="blog-post.html">Post page</a></li>
                                            <li><a href="author.html">Author page</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact.html">Contacts</a></li>
                                            <li><a href="blank.html">Regular</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="has-dropdown megamenu">
                                <a href="#">Lifestyle</a>
                                <div class="dropdown tab-dropdown">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a class="active" data-toggle="tab" href="#tab1">Lifestyle</a></li>
                                                <li class="nav-item"><a data-toggle="tab" href="#tab2">Fashion</a></li>
                                                <li class="nav-item"><a data-toggle="tab" href="#tab1">Health</a></li>
                                                <li class="nav-item"><a data-toggle="tab" href="#tab2">Travel</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="dropdown-body tab-content">
                                                <!-- tab1 -->
                                                <div id="tab1" class="tab-pane fade show active">
                                                    <div class="row">
                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-10.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Travel</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->

                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-13.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Travel</a>
                                                                        <a href="category.html">Lifestyle</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->

                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-12.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Lifestyle</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->
                                                    </div>
                                                </div>
                                                <!-- /tab1 -->

                                                <!-- tab2 -->
                                                <div id="tab2" class="tab-pane fade show">
                                                    <div class="row">
                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-5.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Lifestyle</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->

                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-8.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Fashion</a>
                                                                        <a href="category.html">Lifestyle</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->

                                                        <!-- post -->
                                                        <div class="col-md-4">
                                                            <div class="post post-sm">
                                                                <a class="post-img" href="blog-post.html"><img src="{% static 'img/post-9.jpg' %}" alt=""></a>
                                                                <div class="post-body">
                                                                    <div class="post-category">
                                                                        <a href="category.html">Lifestyle</a>
                                                                    </div>
                                                                    <h3 class="post-title title-sm"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
                                                                    <ul class="post-meta">
                                                                        <li><a href="author.html">John Doe</a></li>
                                                                        <li>20 April 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /post -->
                                                    </div>
                                                </div>
                                                <!-- /tab2 -->

                                                <!-- /tab3 tab4 .. -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-dropdown megamenu">
                                <a href="#">Fashion</a>
                                <div class="dropdown">
                                    <div class="dropdown-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h4 class="dropdown-heading">Categories</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Lifestyle</a></li>
                                                    <li><a href="#">Fashion</a></li>
                                                    <li><a href="#">Technology</a></li>
                                                    <li><a href="#">Health</a></li>
                                                    <li><a href="#">Travel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="dropdown-heading">Lifestyle</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Lifestyle</a></li>
                                                    <li><a href="#">Fashion</a></li>
                                                    <li><a href="#">Health</a></li>
                                                </ul>
                                                <h4 class="dropdown-heading">Technology</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Lifestyle</a></li>
                                                    <li><a href="#">Travel</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="dropdown-heading">Fashion</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Fashion</a></li>
                                                    <li><a href="#">Technology</a></li>
                                                </ul>
                                                <h4 class="dropdown-heading">Travel</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Lifestyle</a></li>
                                                    <li><a href="#">Healtth</a></li>
                                                    <li><a href="#">Fashion</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="dropdown-heading">Health</h4>
                                                <ul class="dropdown-list">
                                                    <li><a href="#">Technology</a></li>
                                                    <li><a href="#">Fashion</a></li>
                                                    <li><a href="#">Health</a></li>
                                                    <li><a href="#">Travel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Travel</a></li>
                        </ul>
                        <!-- /nav -->
                    </div>
                </div>
                <!-- /Main Nav -->
                {% endcomment %}

                <!-- Aside Nav -->
                <div id="nav-aside">
                    {% main_menu max_levels=2 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/callie_main/level_1_aside_menu.html" %}
                    {% comment %}
                    <ul class="nav-aside-menu">
                        <li><a href="index.html">Home</a></li>
                        <li class="has-dropdown"><a>Categories</a>
                            <ul class="dropdown">
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Health</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                        <li><a href="#">Advertise</a></li>
                    </ul>
                    {% endcomment %}
                    <button class="nav-close nav-aside-close"><span></span></button>
                </div>
                <!-- /Aside Nav -->
            </div>
            <!-- /NAV -->
            {% block header %}{% endblock %}
        </header>
        <!-- /HEADER -->

        {% block content %}{% endblock %}

        <footer id="footer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/" class="logo"><img src="{% static 'img/logo-alt.png' %}" alt=""></a>
                            </div>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                            {% if settings.home.SocialMediaSettings.facebook or settings.home.SocialMediaSettings.twitter or settings.home.SocialMediaSettings.google_plus or settings.home.SocialMediaSettings.instagram %}
                            <ul class="contact-social">
                                {% if settings.home.SocialMediaSettings.facebook %}
                                <li><a href="{{ settings.home.SocialMediaSettings.facebook }}" class="social-facebook"><i class="fab fa-facebook"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.twitter %}
                                <li><a href="https://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}" class="social-twitter"><i class="fab fa-twitter"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.google_plus %}
                                <li><a href="https://plus.google.com/+{{ settings.home.SocialMediaSettings.google_plus }}" class="social-google-plus"><i class="fab fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if settings.home.SocialMediaSettings.instagram %}
                                <li><a href="https://www.instagram.com/{{ settings.home.SocialMediaSettings.instagram }}" class="social-instagram"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Categories</h3>
                            <div class="category-widget">
                                <ul>
                                    <li><a href="#">Lifestyle <span>451</span></a></li>
                                    <li><a href="#">Fashion <span>230</span></a></li>
                                    <li><a href="#">Technology <span>40</span></a></li>
                                    <li><a href="#">Travel <span>38</span></a></li>
                                    <li><a href="#">Health <span>24</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Tags</h3>
                            <div class="tags-widget">
                                <ul>
                                    <li><a href="#">Social</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Life</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Magazine</a></li>
                                    <li><a href="#">Food</a></li>
                                    <li><a href="#">Health</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Newsletter</h3>
                            <div class="newsletter-widget">
                                <form>
                                    <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <input class="input" name="newsletter" placeholder="Enter Your Email">
                                    <button class="primary-button">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="footer-bottom row">
                    <div class="col-md-6 col-md-pull-6">
                        <div class="footer-copyright">Copyright ©{% now "Y" %} All rights reserved</div>
                    </div>
                    <div class="col-md-6 col-md-push-6">
                        {% flat_menu 'footer' max_levels=1 show_menu_heading=False  use_specific=USE_SPECIFIC_TOP_LEVEL  fall_back_to_default_site_menus=True template="menus/callie_main/footer.html" %}
                    </div>
                </div>
                <!-- /row -->
            </div>
		<!-- /container -->
	    </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ElysiumServer.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/katex.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/katex_frontend_renderer.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>


    {% if debug %}
    {# DEBUG Template #}
    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
    {% endif %}


</html>